<!DOCTYPE html>
<html lang="es">

    <%- include ('../partials/head') %>

<body class="body body--createProduct body--registro-login">

    <%- include ('../partials/header') %>
    
    <main class="main main--createProduct">
        <form action="" method="post" class="formCreateProduct animate__animated animate__fadeInDown">
            
            <%- include('../partials/createEditProduct')  %> 

            <div class="form__seccion-inputCrear">
                <input type="submit" class="boton-enviar-producto" value="Crear Producto">
            </div>
        </form>
    </main> 

    <%- include ('../partials/footer') %>

</body>
</html>