<!DOCTYPE html>
<html lang="es">
    <%- include ('../partials/head', {title: "Productos"}) %> 
<body class="body">
    <%- include('../partials/header')  %> 

    <main class="main main--index">
        <section class="section-sec">
            <h3 class="section-sec__titulo">Todos nuestros productos</h3>
            <div class="section-sec__cont-arts">

                <% array.forEach(element => { %>
                    <article class="section-sec__arts">

                        <div class="section-sec__cont-picture-star">
                            <picture class="section-sec__picture">
                                <img src="../images/juegos/cyberpunk-2077-250px.jpg" alt="cyberpunk-2077" class="section-sec__imgs">
                            </picture>
                            <div class="section-sec__cont-star">
                                <i class="fas fa-star section-sec__star"></i>
                            </div>
                        </div>

                        <div class="section-sec__cont-datos">
                            <span class="section-sec__spans"><a href="/productDetail/1" class="section-sec__titulo-enlace">Cyberpunk 2077</a></span>
                            <span class="section-sec__spans">$ 10.000</span>
                            <span class="button-carrito">Añadir al carrito</span>
                        </div>

                        
                    </article>
                <% }) %>        
            </div>
        </section>
    </main>

    <%- include ('../partials/footer') %> 
</body>
    
</html>