<div class="form__seccion-nombre">
    <h5 class="form__seccion-h5">Nombre del producto:</h5>
    <input type="text" class="input__create-product" name="nombreDelProductoCreado" placeholder="Nombre del producto..." required>
</div>

<div class="form__seccion-descripcion">
    <h5 class="form__seccion-h5">Descripción del producto:</h5>
    <input type="textarea" class="input__create-product" name="descripcionDelProductoCreado" placeholder="Descripción del producto..." required>
</div>

<div class="form__seccion-img">
    <h5 class="form__seccion-h5">Inserta una imagen:</h5>
    <input type="file" class="input__create-product" accept=".png, .jpg" multiple name="imagenDelProductoCreado" required>
</div>

<div class="form__seccion-categoria">
    <h5 class="form__seccion-h5">Selecciona un género:</h5>
    <select class="input__create-product" name="generoDelProductoCreado" required>
        <option value="accion">Acción</option>
        <option value="aventura">Aventura</option>
        <option value="fps">FPS</option>
        <option value="estrategia">Estrategia</option>
        <option value="deportes">Deportes</option>
    </select>
</div>

<div class="form__seccion-edicion">
    <h5 class="form__seccion-h5">Selecciona una edición:</h5>
    <select class="input__create-product" name="edicionDelProductoCreado" required>
        <option value="estandar">Estándar</option>
        <option value="coleccionista">Coleccionista</option>
    </select>
</div>

<div class="form__seccion-precio">
    <h5 class="form__seccion-h5">Escribe un precio:</h5>
    <input type="text" class="input__create-product" name="precioDelProductoCreado" required>
</div>